---
layout: default
title: Home
---
<div>
  <h2>Course Objective</h2>
  Kittens are what you need to know. Let's teach you about them.
</div>
<hr>
<div>
  <h2>Instructor</h2>
  <div class="float-right">
    <img class="instructor-img" src="http://placekitten.com/220/220"">
  </div>
  <span class="text-bold">Sir Kitten A Lot</span>
  <li>Second-year PhD Student at the Kitten Interaction Institute</li>
  <div class="float-clear-both"></div>
</div>

<hr>

<div>
  <h2>Schedule</h2>
  <li> Kitten Hour: M 9am-12pm </li>
  {% include slides_schedule.html %}
</div>
<hr>
{% include grading_rubric.html %}
<hr>
<br>
