---
---

.center-block-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.full-width-img img {
  width: 100%;
}

.nine-tenths-width-img img {
  width: 90%;
}

.three-quarters-width-img img {
  width: 75%;
}

.half-width-img img {
  width: 50%;
}

.four-tenths-width-img img {
  width: 40%;
}

.third-width-img img {
  width: 33%;
}

.quarter-width-img img {
  width: 25%;
}

.tenth-width-img img {
  width: 10%;
}

.full-height-img img {
  height: 100%;
}

.half-height-img img {
  height: 50%;
}

.third-height-img img {
  height: 33%;
}

.quarter-height-img img {
  height: 25%;
}


.center-img img {
  text-align: center;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}

.float-right {
  float:right;
}

.float-left {
  float:left;
}

.float-clear-left {
  clear: left;
}

.float-clear-right {
  clear: right;
}

.float-clear-both {
  clear: both;
}

.text-bold {
  font-weight: bold;
}

.text-color-white {
  color: white;
}

.text-color-reddish-pink {
  color: #E74C3C
}

.background-no-repeat {
  background-repeat: no-repeat !important;
}
