<div class="grading-rubric">
    <h2> Grading Rubric </h2>
    <table class="full-width">
      <tbody>
      <tr>
        <td>Attendance + In-Class Exercises</td>
        <td>10%</td>
      </tr>
      <tr>
        <td>Assignments (A0-A3)</td>
        <td>20%</td>
      </tr>
      <tr>
        <td>Final Project</td>
        <td>10%</td>
      </tr>
      <tr>
        <td class="text-bold">Total of Kitten Course Grade</td>
        <td class="text-bold">40%</td>
      </tr>
    </tbody>
  </table>
</div>
